<?xml version="1.0" encoding="UTF-8"?>
 
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 
<mapper namespace="com.pmg.mapper.ChkInsertMapper">
 
 
    <!-- 회원 가입(회원정보 추가하기) -->
    <insert id="insertUser">
 		INSERT INTO usertable
     ( grade_id, userId, userPassword, userName, userPhonNumber, userBirthday )
      VALUES(#{grade_id}, #{userId}, #{userPassword}, #{userName}, #{userPhonNumber}, #{userBirthday}) 
    </insert>
    
    
       <!-- 로그인 아이디 조회 -->
    <select id="loginUserRead" resultType="com.pmg.domain.ChkInsertVO">
            select *
            from usertable 
            where userId = #{userId} and userPassword = #{userPassword}
    </select>
    
    
        <!-- 비밀번호 수정하기 -->
    <update id="userPwUpdate">
    
        update usertable SET userPassword = #{userPassword}
         WHERE id = #{id} 
    </update>
        
     
    
    <!-- 게시판 리스트보기 -->
    <select id="listUser" resultType="com.pmg.domain.UserVO">
    <![CDATA[
    
        select * from users 
        order by id DESC
    ]]>
    </select>
    
    <!-- 게시판 삭제하기 -->
    <delete id="deleteUser">
        delete from users where id = #{id}
    </delete>
    
 
</mapper>
